<!DOCTYPE html>
<html lang="en">
<head>
    <!--TITLE-->
    <title>Task Manager</title>
    
    <!--META-->
    <meta charset="UTF-8"/>    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!--LINKS-->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" href="../../css/index.css"/>
</head>
<body>
    <!--NAVIGATION-->    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Task Manger</a>
        
        <!--toggler--->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teams</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Tasks</a>
                </li>
            </ul>
        </div>
    </nav>

   
    <!--CONTENT--->
    <div class="container content">

        <!--heading-->
        <h1>Edit user #<span class="text-primary">1</span></h1>

        <!--form-->
        <form>

            <!--first name-->
            <div class="form-group">
                <label for="first-name">First name</label>
                <input id="first-name" type="text" class="form-control is-valid" placeholder="Enter first name">

                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!--last name-->
            <div class="form-group">
                <label for="last-name">Last name</label>
                <input id="last-name" type="text" class="form-control  is-invalid" placeholder="Enter last name" required>

                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>

            <!--email address-->
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" type="email" class="form-control" placeholder="Enter email" required>
                <small id="email-help" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            
            <hr>

            <!--date of birth-->
            <div class="form-group">
                <label for="bithday">Date of birth</label>
                <input id="bithday" type="date" class="form-control" placeholder="Enter birhday" required>
            </div>
            
            <hr>

            <!--team-->
            <div class="form-group">
                <label for="team">Select team</label>
                <select id="team" class="form-control">
                    <option>Team 1</option>
                    <option>Team 2</option>
                    <option>Team 3</option>
                    <option>Team 4</option>
                    <option>Team 5</option>
                </select>
            </div>

            <!--buttons-->
            <button type="submit" class="btn btn-primary w-100">Submit</button>    
            <a class="btn btn-info w-100 mt-2" href="#">Go back</a>

        </form>
        
    </div>
    
    <!--FOOTER-->
    <footer class="bg-dark text-center text-light">
        ©Copyright
    </footer>
    
    <!--SCRIPTS-->
    <script src="../../js/lib/jquery-3.3.1.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>