<!--heading-->
<h1>Delete project #<span class="text-danger">{{ deleteItem?.id }}</span></h1>
<p>Are you sure you want to <span class="text-danger font-weight-bold">delete</span> this record?</p>

<!--form-->
<form *ngIf="deleteItem">

    <!--name-->
    <div class="form-group">
        <label for="first-name">Name</label>
        <input id="first-name" type="text" class="form-control" value="{{ deleteItem.name }}" disabled>
    </div>

    <!--description-->
    <div class="form-group">
        <label for="last-name">Description</label>
        <textarea id="last-name" type="text" class="form-control" disabled>{{ deleteItem.description }}</textarea>
    </div>
    
    <hr>

    <!--deadline-->
    <div class="form-group">
        <label for="deadline">Deadline</label>
        <input id="deadline" type="text" class="form-control" value="{{ deleteItem.deadline | ukr_date }}" disabled>
    </div>
    
    <!--creation-date-->
    <div class="form-group">
        <label for="creation-date">Date of creation</label>
        <input id="creation-date" type="text" class="form-control" value="{{ deleteItem.createdAt | ukr_date }}" disabled>
    </div>

    <hr>
    
    <!--author-->
    <div class="form-group">
        <label for="author">Select author</label>
        <input id="author" type="text" class="form-control" value="{{ deleteItem.authorName }}" disabled>
    </div>
    
    <!--team-->
    <div class="form-group" *ngIf="deleteItem.teamName">
        <label for="team">Select team</label>
        <input id="team" type="text" class="form-control" value="{{ deleteItem.teamName }}" disabled>
    </div>

    <!--buttons--> 
    <button type="submit" class="btn btn-danger w-100" (click)="delete()">Submit</button>   
    <a class="btn btn-info w-100 mt-2" routerLink="/projects">Go back</a>

</form>
